* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

.container-fluid {
    justify-content: space-between;
}

.navbar-brand {
    max-width: 30%;
    margin-right: 20%;
}

.nav-link {
    font-size: 1.3em;
}

.nav-accueil {
    margin-left: 300px;
}

.main {
    background-color: #C39BD3;
    color: white;
}

.selection {
    font-size: 1.5em;
}

.container {
    margin: 0;
}

.container-produits {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 0;
}

.produit_nomprix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option_couleurquantite {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .container-produits {
        flex-direction: column;
        max-width: 100%;
        margin: 0;
    }
}