* {
    box-sizing: border-box;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(108, 105, 131);
}

.container {
    display: flex;
    flex-direction: column;
}

.logo {
    align-items: center;
    width: 50%;
}

.navbar-nav {
    flex-direction: row;
    justify-content: space-around;
}

.nav-link {
    margin: 40px 0px 20px 0px;
    color: rgb(108, 105, 131);
    font-size: 1.5em;
}

.nav-panier {
    margin-left: 50px;
}

.nav-accueil {
    margin-right: 50px;
}

.main,
footer {
    border-style: double;
    border-color: #C39BD3;
    background-color: #eadaf8;
    padding: 5px;
    margin: 5px;
}

.message-bienvenue {
    font-size: large;
    font-weight: bold;
}

.selection {
    font-size: 1.2em;
    font-style: italic;
    color: rgb(108, 105, 131);
}

.liste-produits {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-produit {
    width: 45%;
    height: 30%;
    margin: 20px;
}

.imgTeddy {
    border-bottom-style: solid;
    border-color: #C39BD3;
    height: 450px;
    text-align: center;
    object-fit: cover;
}

h3 {
    color: #C39BD3
}

.price {
    position: relative;
    color: #C39BD3
}

.btnMore {
    background: #C39BD3;
    color: white;
    border-radius: 10%;
    padding: 5px;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

#produits {
    margin: 20px;
}

.imgFicheProduit {
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: #C39BD3;
    object-fit: cover;
}

.produit_nomprix {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
    color: #C39BD3;
}

#descriptionProduit {
    font-size: small;
}

.option_couleurquantite {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
}

#btnAjoutPanier {
    background: #C39BD3;
    color: white;
    border-radius: 10%;
    padding: 5px;
}

.paniervide {
    border-style: none;
    background-color: white;
    padding: 50px;
    margin: 5px;
    font-size: large;
    font-weight: bold;
    color: #C39BD3;
}

#retourAccueil,
#validationPanier,
#viderPanier,
#order {
    background: #C39BD3;
    color: white;
    border-radius: 10%;
    padding: 5px;
}

#panierPlein h2 {
    color: #C39BD3;
}

#listePanier {
    margin: 30px;
}

table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.titreTableau,
.liste {
    text-align: center;
    align-items: center;
}

tr,
td,
th {
    border: 1px solid rgb(108, 105, 131);
}

.btnPanier {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnValider {
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    margin: 0 50px 0 50px;
}

input {
    text-align: left!important;
}

.titreForm {
    font-weight: bold;
    color: rgb(108, 105, 131);
}

.confirmation {
    border-style: double;
    border-color: #C39BD3;
    background-color: #eadaf8;
    padding: 20px;
    margin: 20px;
}

#recapitulatif {
    border: 3px solid rgb(108, 105, 131);
    background-color: white;
    margin: 10px;
    padding: 10px;
}

@media screen and (max-width: 480px) {
    .container-produit {
        width: 80%;
        height: 30%;
        margin: 20px;
    }
    .imgTeddy {
        object-fit: cover;
    }
    btnMore {
        display: none;
    }
}