* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

.container-fluid {
    align-items: center;
}

.navbar-brand {
    max-width: 30%;
    margin-right: 30%;
}

button {
    background: #C39BD3;
    color: white;
    border-radius: 10%;
    padding: 10px;
}

p {
    margin: 0;
}

.navbar-nav {
    align-items: center;
}

.logo {
    width: 200px;
}

.nav-link {
    font-size: 1em;
}

.nav-accueil {
    margin-left: 150px;
}

.main {
    background-color: #C39BD3;
    color: white;
}

.selection {
    font-size: 1.5em;
}

.liste-produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-produit {
    margin: 15px;
}

.imgTeddy {
    max-width: 350px;
    height: 250px;
}

.priceBtn {
    display: flex;
    flex-direction: row;
}

.btnMore {
    margin-left: 190px;
}

.produit_nomprix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-large;
    font-weight: bold;
}

.option_couleurquantite {
    display: flex;
    flex-direction: row;
    align-items: center;
}

table {
    width: 100%;
    border-style: solid;
}

.tableau {
    width: 100%;
}

.titreTableau,
.liste {
    text-align: center;
}

.liste {
    font-size: 20px;
}

.btnPanier {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 480px) {
    .container-produits {
        flex-direction: column;
        max-width: 100%;
        margin: 0;
    }
    .imgTeddy {
        max-width: 300px;
        height: 200px;
    }
}